<header class="header">
  <div class="header-logo">
    <div class="logo-icon">🐾</div>
    <span class="logo-text">bluedrop</span>
    <span class="logo-text-gray">pets</span>
  </div>
  
  <div class="header-search">
    <ng-icon name="heroicons/outline/magnifying-glass" size="20px" class="search-icon"></ng-icon>
    <input
      type="text"
      class="search-input"
      placeholder="Buscar tutores, pets, agendamentos..."
    />
  </div>

  <div class="header-actions">
    <button class="btn-novo-tutor">
      <ng-icon name="heroicons/outline/plus" size="18px"></ng-icon>
      Novo Tutor
    </button>
    
    <button class="notification-btn">
      <ng-icon name="heroicons/outline/bell-alert" size="20px"></ng-icon>
    </button>
    
    <div class="user-avatar">M</div>
  </div>
</header>
